## Unit 10. 리스트와 튜플

#### 10.1 리스트(List)

In [28]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [29]:
import numpy as np
np.random.randint(10,70,10)

array([64, 58, 34, 58, 63, 33, 67, 27, 64, 30])

In [30]:
# 리스트에는 여러 자료형을 사용할 수 있음
person = ['james', 27, 175.3, '남']
person

['james', 27, 175.3, '남']

In [31]:
# 위의 리스트는 아래와 같은 dictionary로 표현하는 것이 더 좋다.
{'name':'james', 'age':27, 'height':175.3, 'gender':'남'}

{'name': 'james', 'age': 27, 'height': 175.3, 'gender': '남'}

- 빈 리스트 만들기

In [32]:
a = []
b = list()
c, d = [], []

In [33]:
import random
a = []
for i in range(5):
    a.append(random.randint(60,100))
a

[80, 78, 87, 81, 60]

- range 객체

In [34]:
# range parameter 1개: 횟수 의미(0 ~ n-1)
list(range(5))

[0, 1, 2, 3, 4]

In [35]:
# range parameter 2개: 시작, 끝
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
# range parameter 3개: 시작, 끝, 증가폭
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [37]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

#### 10.2 튜플(tuple)

In [44]:
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [43]:
person = ('james', 27, 175.3, '남')
person

('james', 27, 175.3, '남')

In [45]:
size = (3)
type(size)

int

In [46]:
size = (3, )
type(size)

tuple

In [47]:
size = 3,
type(size)

tuple

- 튜플은 요소를 변경, 추가, 삭제할 수 없다.

In [49]:
t = ()
type(t)

tuple

In [50]:
t = tuple(range(5))
t

(0, 1, 2, 3, 4)

- 리스트 <-> 튜플

In [52]:
l = list(t)
type(l)

list

In [53]:
type(tuple(l))

tuple

- 리스트에 문자열 넣기

In [54]:
list('안녕하세요')

['안', '녕', '하', '세', '요']

In [55]:
list('ABCD')

['A', 'B', 'C', 'D']

- list/tuple unpacking

In [58]:
a, b, c, d = 'a', 'b', 'c', 'd'
a, b, c, d

('a', 'b', 'c', 'd')

In [59]:
a, b, c, d = list('abcd')
a, b, c, d

('a', 'b', 'c', 'd')

In [60]:
x, y, z = range(3)
x, y, z

(0, 1, 2)

In [61]:
x, y, z = input().split()
x, y, z

('10', '20', '30')

In [62]:
x, y, z = map(int, input().split())
x, y, z

(10, 20, 30)